@use '../../utils/variables' as *;

.theme-background {
  visibility: visible !important;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;

  img {
    height: 100vh;
    width: 100%;
  }

  transition: opacity 1.5s ease-in-out;
}

@media screen and (max-width: 800px) {
  #intro {
    margin: 0;
    padding: 0;

    img {
      object-fit: cover;
    }
  }
}

main {
  grid-area: main;

  >section {
    contain: content;
    min-height: 100vh;

    &:first-child {
      min-height: calc(100vh - $header-height);
      background-color: initial;

      >#welcome-callout {
        will-change: transform;
        #{$light-theme} {
          color: white; // TODO: Find better color
        }

        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
        font-family: 'Lobster Two',
        Helvetica,
        sans-serif;
        font-size: 3.2rem;
      }
    }

    &:last-child {
      min-height: calc(100vh - var(--footer-height));
    }

    // Content sections after the first should be grids for a consistent UX
    &~section {
      display: grid;
      //gap: 2.4rem;
      justify-items: stretch;
      padding: calc($header-height + 5px) $side-gap 1rem;
    }
  }
}

#clients, #technologies {
  align-items: start;

  .container {
    height: fit-content;
  }

  grid-template-rows: 8rem 1fr;
  justify-items: stretch;

  .section-title {
    justify-self: start;
  }

  @media screen and (max-width: 850px) {
    grid-template-rows: 5rem 1fr; // Improves mobile experience reducing the gap
  }
}