@use '../../utils/variables' as *;

main {
  grid-area: main;

  >section {
    display: grid;
    contain: content;
    min-height: 100vh;
    //gap: 2.4rem;
    justify-items: stretch;
    padding: $header-height $side-gap 1rem;

    .section-title {
      justify-self: start;
    }
  }
}
