@use '../utils/variables' as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
        left: calc($side-gap - 1rem);
        right: calc($side-gap - 1rem);
    }

    p {
        font-size: 1.6rem;
        text-align: center;
    }

    .link-icon {
        font-size: 1.8em;
        padding: 1rem;
    }
}
