// Main site layout
@use '../utils/variables' as *;

body {
  display: grid;
  min-height: 100vh;

  grid:
    [row1-start] "header" $header-height [row1-end]
    [row2-start] "main" auto [row2-end]
    [row3-start] "footer" $footer-height [row3-end]
    / 1fr;

  > header {
    grid-area: header;
    margin: 0;
    position: sticky;
    top: 0;
  }

  > footer {
    grid-area: footer;
  }
}
