@use '../utils/mixins' as *;

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $header-height; // The header should be 70px, this is important for rendering drop down menus.
  z-index: 2; // Stops welcome text from going over

  @include themeable-property('background-color', 'primary-background-transparent');

  transition-property: opacity, translate, background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-delay: 200ms;
  // transition: opacity 400ms ease-out 200ms;

  i, svg {
    padding: 5px; // Gives greater area to click on icon.
    font-size: 2.4rem;

    margin: {
      right: $side-gap;
      left: 1.6rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #theme-switch {
    transition: transform 400ms ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  // All links, including site title
  a {
    text-decoration: none;
    display: inline-block;
  }

  // The site title only
  h1 {
    font-size: 3.2rem;

    margin: {
      left: $side-gap;
      right: auto;
      top: 1.6rem;
      bottom: 1.6rem;
    }
  }

  @media screen and (min-width: 801px) {
    #mobile-menu-toggle {
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    opacity: 1;

    > :not(.hidden):first-child,
    .hidden + :not(.hidden) {
      margin-left: 3rem;
    }

    > :last-child {
      margin-right: 3rem;
    }

    i {
      margin: 0;
      padding: 5px;
    }

    #mobile-menu-toggle {
      display: block;
    }

    h1 {
      font-size: 2.4rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
}