@use '../utils/mixins' as *;

// The navigation.
header nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    // Each item  in the navigation and it's link.
    >li {
      display: inline-block;
      flex: 0 1 auto;
      position: relative;

      >a {
        // Sizing here is important for the dropdown list to render correctly on different screens.
        font-size: 1.6rem;
        padding: 2.3rem 1.6rem;
      }

      &::before {
        // This plus the left calc guarentees the line will always be centered no matter how wide
        $nav-item-line-width: 80%;

        width: $nav-item-line-width;
        content: '';
        height: 2px;
        position: absolute;
        bottom: 30%;
        left: calc((100% - $nav-item-line-width) / 2);

        @include themeable-property('background-color', 'text');
        opacity: 0;
        transform: scaleX(0);
        transition: all 1s ease-in-out
      }

      &:hover::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    // List items that hold another list.
    >li.drop-down {
      >ul.drop-down {
        display: none;
        position: absolute;
        top: $header-height;
        z-index: 1;

        >li.drop-down-item {
          width: 100%;

          >a {
            height: auto;
            width: 100%;
            text-align: center;
          }
        }
      }

      // Display the dropdown list on hover.
      &:hover ul.drop-down {
        display: block;
      }
    }
  }

  @media screen and (min-width: 801px) {
    ul#nav-menu {
      background-color: transparent !important;
    }
  }

  @media screen and (max-width: 800px) {
    ul#nav-menu {
      @include themeable-property('background-color', 'primary-background-transparent');

      display: none;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: $header-height;
      left: 0;

      li.drop-down:hover ul.drop-down {
        display: none;
      }
    }
  }
}