@import "../utils/variables";

img#intro-background {
  visibility: visible !important;
  z-index: -9999;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translate(0px, 5vh);
  }
  to {
    opacity: 1;
  }
}

main {
  grid-row: row2-start;
  grid-column: 1 / span 4;

  section#intro {
    display: grid;
    text-align: center;
    line-height: 100%;

    > h1#welcome-callout {
      position: absolute;
      top: 50vh;
      align-self: center;
      justify-self: center;
      font-family: "Lobster Two", Helvetica, sans-serif;
      font-size: 2em;
      animation: title-appear;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
}
