section#about-areas {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / span 4;

    // Meant to contain an image related to the article next to it
    aside {
        flex: 0 1 50%;
        min-height: 75vh;
    }

    // Meant to contain a short summary of part of the about.
    article {
        flex: 0 1 50%;
        min-height: 75vh;
    }
}