
body {
  visibility: hidden; // visibility is hidden until the header and footer are injected by JS.
  opacity: 0;         // Opacticity
}

img#background {
  visibility: visible !important;
  z-index: -9999;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}


@keyframes title-appear {
  from {
    opacity: 0;
    transform: translate(0px, 5vh);
  }
  to {
    opacity: 1;
  }
}

#focus {
  align-self: center;
  justify-self: center;
  grid-row: row2-start;
  grid-column: 1 / span 4;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;

  h1 {
      font-family: "Lobster Two", Helvetica, sans-serif;
      font-size: 2em;
      animation: title-appear;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
  }
}
