// Color definitions for both light and dark themes

$body-dark: hsl(210, 20%, 12%);
$body-light: hsl(210, 20%, 100%);

$text-light: #181e24;
$text-dark: white;

$lightLinkHover: #181e24;
$darkLinkHover: white;