// Color definitions for both light and dark themes
%body-dark {
  background-color: hsla(210, 20%, 12%, 0.75);
}

%body-light {
  background-color: hsla(210, 20%, 75%, 0.75);
}

%text-light {
  color: #181e24;
}

%text-dark {
  color: white;
}
