header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i#themeSwitch {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        &:hover {
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    > h1 {
        font-size: 3rem;
        font-style: italic;
        margin: {
            left: 1.5rem;
            right: auto;
            top: 1rem;
            bottom: 1rem;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        > li {
            display: inline-block;
			flex: 0 1 auto;
			position: relative;
            > a {
                font-size: 1.5rem;
                padding: 20px;
            }
        }

        > li.dropDown {
           > ul.dropDown {
                transition: all 5s ease-in;
                display: none;
                opacity: 0;
                visibility: hidden;
                > li.dropDownItem {
                    width: 100%;
                    > a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            &:hover ul.dropDown {
                display: block;
                visibility: visible;
                opacity: 1;
                position: absolute;
                z-index: 1;
            }
        }
    }
}