header {
    display: flex;
    margin: 1em;
    border: {
        color: red;
        width: 5px;
        style: solid;
    }

    nav {
        margin-left: auto;
        ul {
            list-style: none;
    
            li {
                display: inline-block;
    
                border: {
                    style: solid;
                    color: red;
                    width: 2px;
                }
    
                ul.dropDown {
                    display: none;
                    &:hover {
                        display: inline-block;
                    }
                }
    
                &:hover ul.dropDown {
                    display: block;
                }
            }
        }
    }
}