// Dark mode colors
@import '_colors.scss';

body.lightTheme {
    background: $lightBody;
    h1, h2, h3, h4, h5, h6, p {
        color: $lightText;
    }
    header {
        nav {
            color: $lightText;
            background: $lightBody;
            a {
                color: red;
                &:hover {
                    color: $lightLinkHover;
                }
            }
        }
    }
    div#main {

    }

    footer {
    
    }
}
