body {
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 9999;

    &.color-theme-in-transition,
    &.color-theme-in-transition *,
    &.color-theme-in-transition *:before,
    &.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
    }
}

#main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 10fr 1fr;

    text-decoration: none;
    margin: 1em;
}

a {
    text-decoration: none;
    color: red;
    &:hover {
        color: black;
    }
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

footer {
    grid-column: span 12;
}