@import "utils/variables";
@import "utils/placeholders";
@import "utils/mixins";
@import "utils/functions";

// Vendors here

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

// Components here
@import "pages/sandbox";
@import "pages/home";

// Themes

@import "themes/dark";
@import "themes/light";