@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css"; // Icons
@import url('https://fonts.googleapis.com/css?family=Cinzel|Roboto|Lobster+Two|Source+Code+Pro&display=swap');

/* Encapsulate global styles, css reset, and logic for grid. 
 * This file should be included in every page.
 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

// This is for the layout / grid of the page.
#main {
  display: grid;
  min-height: 100vh;
  z-index: 1;

  grid:
    [row1-start] "header header header header" 70px [row1-end]
    [row2-start] "left center-left center-right right" auto [row2-end]
    [row3-start] "footer footer footer footer" 35px [row3-end]
    / 1fr 1fr 1fr 1fr;

  header {
    grid-area: header;
    position: sticky;
    top: 0;
  }

  footer {
    grid-area: footer;
  }
}
