/*Encapsulate global styles, css reset, and logic for grid.*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  visibility: hidden; // visibility is hidden until the header and footer are injected by JS.
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

#main {
  z-index: 1;
  display: grid;
  grid-template-rows: 70px auto 35px;
  min-height: 100vh;
  height: 100%;
}

header {
  position: -webkit-sticky; /* Safari */
  grid-row: 1 / 1;
  position: sticky;
  top: 0;
}

#focus {
  grid-row: 2 / 2;
}

footer {
  grid-row: 3 / 3;
}

img#background {
  visibility: visible !important;
  z-index: -9999;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}