@import '_colors.scss';

body {
    &.color-theme-in-transition,
    &.color-theme-in-transition *,
    &.color-theme-in-transition *:before,
    &.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
    }
}

body.light-theme {
    background: $body-light;
    h1, h2, h3, h4, h5, h6, p {
        color: $text-light;
    }

    header {
        //TODO Add transition on hover for background color of link
        background: $body-light;
        color: $text-light;
        li {
            background-color: red;
        }
        a {
            color: black;
            &:hover {
                color: $link-hover-dark;
            }
        }
    }
    div#main {

    }

    footer {
    
    }
}

body.dark-theme {
    background: $body-dark;
    h1, h2, h3, h4, h5, h6, p {
        color: $text-dark;
    }

    header {
        background: $body-dark;
        color: $text-dark;
        
        li {
            background-color: red;
        }
        a {
            color: black;
            &:hover {
                color: $link-hover-light;
            }
        }
    }
    div#main {

    }

    footer {
    
    }
}
