@import '_colors.scss';
@import 'https://use.fontawesome.com/releases/v5.7.0/css/all.css';

/*
 * This file encapsulates all color logic for both the light and dark theme of the page.
 * No other files should define colors as that will override this file due to CSS selectors.
 */

// Transition rules when switching from light to dark mode.
body {
    &.color-theme-in-transition,
    &.color-theme-in-transition *,
    &.color-theme-in-transition *:before,
    &.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
    }
}

body.dark-theme {
    background-color: $body-dark;
    h1, h2, h3, h4, h5, h6, p {
        color: $text-dark;
    }
    li.dropDownItem {
        background: $body-dark;
    }
    header {
        background-color: $body-dark;
        color: $text-dark;
        a {
            color: white;
        }
    }
}

body.light-theme {
    background-color: $body-light;
    h1, h2, h3, h4, h5, h6, p {
        color: $text-light;
    }

    header {
        //TODO Add transition on hover for background color of link
        background-color: $body-light;
        color: $text-light;
        a {
            color: black;
        }
    }
}

