@use '../../base/reset';
@use '../../utils/variables' as *;

:host {
    #{$dark-mode} {
        border-color: white;
    }

    #{$light-mode} {
        border-color: black;
    }

    border-style: solid;
    border-width: 0.05rem;
    border-radius: 1.2rem;
    padding: 12px;
    width: 350px;
    height: 500px;

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

article {
    text-align: center;
    padding: 1rem;
}