@use '../../base/reset';
@use '../../utils/mixins' as *;

:host {
    @include themeable-property('border-color', 'primary-text');
    padding: 12px;
    width: 350px;
    min-height: 650px;
    max-height: 50%;
    perspective: 1000px;

    transition-property: translate, filter, transform;
    transition-duration: 400ms;

    @media screen and (max-width: 500px) {
        width: 100%;
        // min-height: 90%;
    }
}

// The class name container is used in the base.scss file, but since this is a Shadow DOM style there is no overlap.
.container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;

    >* {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        padding: 1rem;
        @extend %site-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button {
            margin-top: auto;
            margin-bottom: 2rem;
        }
    }

    .back {
        transform: rotateY(-180deg);
    }

    &.is-flipped {
        transform: rotateY(-180deg);
    }
}

hgroup~* {
    margin-top: 10%;

    &:last-child {
        margin-top: auto;
    }
}

.front {
    text-align: center;

    .logo {
        text-align: center;
        height: 150px;
        width: 150px;

        transition-property: transform;
        transition-duration: 400ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.back {
    hgroup {
        text-align: center;
    }

    details {
        summary {
            margin-bottom: 1rem;
            list-style: none;
            text-align: center;

            &::-webkit-details-marker {
                display: none;
            }
        }

        ul {
            margin-left: 2rem;
        }

        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    button.flip-card {
        margin-top: 0 !important;
    }
}

.inactive {
    cursor: default !important;
    color: grey !important;
    * {
        cursor: inherit;
        color: grey;
    }
}

::slotted([slot=logo]) {
    border-radius: 100rem;
}

// Desktop
@media screen and (min-width: 801px) {
    :host(:hover) {
        translate: 0px -2rem;
    }

    .back details {
        //height: 40%;
    }
}