@use "../../base/reset";
@use "../../utils/mixins" as *;

:host {
    @include themeable-property("border-color", "text");
    padding: 12px;
    width: 350px;
    min-height: 600px;
    max-height: 50%;
    perspective: 1000px;

    transition-property: translate, filter, transform;
    transition-duration: 400ms;

    @media screen and (max-width: 500px) {
        width: 100%;
        // min-height: 90%;
    }
}

:host(:hover) {
    cursor: pointer;
}

// The class name container is used in the base.scss file, but since this is a Shadow DOM style there is no overlap.
.container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;

    >* {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        padding: 1rem;
        @extend %site-border;
    }

    .back {
        transform: rotateY(180deg);
    }

    &.is-flipped {
        transform: rotateY(180deg);
    }
}

article {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    hgroup~* {
        margin-top: 10%;
    }

    .logo {
        text-align: center;
        height: 150px;
        width: 150px;

        transition-property: transform;
        transition-duration: 400ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.back details {
    summary {
        margin-bottom: 1rem;
        list-style: none;
        text-align: center;

        &::-webkit-details-marker {
            display: none;
        }
    }

    ul {
        margin-left: 2rem;
    }

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

::slotted([slot=logo]) {
    border-radius: 100rem;
}


// Landscape mode
@media screen and (max-height: 500px) {
    :host {
        height: calc(100vh - $header-height);
    }

    article hgroup~* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

// Desktop
@media screen and (min-width: 801px) {
    :host(:hover) {
        translate: 0px -2rem;
    }

    .back details {
        height: 40%;
    }
}