@use '../../base/reset';
@use '../../utils/mixins' as *;

:host {
  --card-size: 15rem;
  width: var(--card-size);
  height: var(--card-size);

  @media screen and (max-width: 500px) {
    --card-size: 10rem;
  }
}

.container {
  @extend %site-border;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;

  transition-property: transform;
  transition-duration: 400ms;

  &:hover {
    transform: scale(1.1);
  }

}

.logo {
  $card-size: calc(var(--card-size) * 0.45);
  height: $card-size;
  width: $card-size;
}

::slotted(svg.theme[slot=logo]) {
  @include shadow-themeable-property('fill', 'primary-text');
}

@media screen and (max-width: 500px) {
  ::slotted(span) {
    font-size: 1.5rem;
  }
}
