@use '../../base/reset';
@use '../../utils/mixins' as *;

:host {
  width: 22rem;
  height: 22rem;
}

.container {
  @extend %site-border;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;

  transition-property: transform;
  transition-duration: 400ms;

  &:hover {
    transform: scale(1.1);
  }
}

.logo {
  height: 128px;
  width: 128px;
}

::slotted(svg.theme[slot=logo]) {
  @include shadow-themeable-property('fill', 'primary-text');
}