@use 'variables' as *;
@use 'placeholders' as *;

@forward 'variables';
@forward 'placeholders';

// Transition rules when switching from light to dark mode.
@mixin theme($theme-name) {
  @extend %body-#{$theme-name};

  $texts: [h1 h2 h3 h4 h5 h6 details summary p a span];
  @each $textItem in $texts {
    #{$textItem} {
      @extend %text-#{$theme-name};
    }
  }

  $boxes: [header section footer];
  @each $box in $boxes {
    #{$box} {
      @extend %body-#{$theme-name};
      @extend %text-#{$theme-name};
    }
  }

  header ul {
    @extend %body-#{$theme-name};
  }
}

// Provides both light and dark theming for a property based on the theme-key provided
@mixin themeable-property($property-name, $theme-key) {
  #{$light-theme} {
    #{$property-name}: map-get($themes, 'light', $theme-key);
  }

  #{$dark-theme} {
    #{$property-name}: map-get($themes, 'dark', $theme-key);
  }
}

// Mixin for the ShadowDOM to be themeable in conjunction with setCustomElementThemeClass
@mixin shadow-themeable-property($property-name, $theme-key) {
  #{$shadow-light-theme} {
    #{$property-name}: map-get($themes, 'light', $theme-key);
  }

  #{$shadow-dark-theme} {
    #{$property-name}: map-get($themes, 'dark', $theme-key);
  }
}

@mixin button($width, $height) {
  display: block;
  font-family: inherit;
  font-size: inherit;
  width: $width;
  height: $height;
  cursor: pointer;
  text-align: center;
  line-height: 2;

  @extend %site-border;
  
  @include themeable-property('border-color', 'primary-text');
  @include themeable-property('color', 'primary-text');
  @include themeable-property('background-color', 'secondary-background');

  &:hover {
    @include themeable-property('background-color', 'primary-background');
  }

}