@use "sass:map";
@use 'variables' as *;

// Create a placeholder for each theme to be used by the theme mixin
@each $theme, $values in $themes {
  %body-#{$theme} {
    background-color: map-get($themes, $theme, 'primary-background');
  }

  %text-#{$theme} {
    color: map-get($themes, $theme, 'text');
  }
}

%theme-transition {
  transition: all 750ms;
  transition-delay: 0ms;
}