@use 'variables' as *;

%body-dark {
  background-color: $dark-background;
}

%body-light {
  background-color: $light-background;
}

%text-light {
  color: $dark-text;
}

%text-dark {
  color: $light-text;
}
