@use "functions" as *;
@forward "functions";

@use "sass:map";
@use "sass:math";
@use "sass:color";

$default-opacity:  0.75;

$header-height: 70px;
$footer-height: 60px; //math.div($header-height, 2);
$side-gap: 15%; // Keeps site aligned better

$dark-theme: "body.dark &";
$light-theme: "body.light &";

$themes: (
    "dark": (
        "primary-background": hsl(210, 22%, 4%),
        "text": #fff
    ),
    "light": (
        "primary-background": #fff,
        "text": #313441
    )
);

// Adds a new property in every theme ending with '-transparent'
$themes: set-transparent-backgrounds($themes);