@use "sass:map";
@use "sass:math";

$header-height: 70px;
$footer-height: math.div($header-height, 2);
$side-gap: 15%; // Keeps site aligned better

$themes: (
    "dark": (
        "primary-background": hsla(210, 22%, 4%, 0.75),
        "text": #fff
    ),
    "light": (
        "primary-background": #fff,
        "text": #313441
    )
);