body {
  &.color-theme-in-transition,
  &.color-theme-in-transition *,
  &.color-theme-in-transition *:before,
  &.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }

  visibility: hidden; // visibility is hidden until the header and footer are injected by JS.
  opacity: 0; // Opacticity
}
