/* Encapsulate global styles, css reset, and logic for grid. 
 * This file should be included in every page.
 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
