@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 62.5%; // Easier to scale rem since this is eq to 10px
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.6rem; // Reset base size to 16px
}

button {
  font-family: inherit;
  font-size: 1.6rem;
}
